/* Variables */
:root {
    --primary-color: #444;
    --primary-color-light: #555;
    --primary-color-dark: #222;
    --primary-color-dark-transparent: rgba(0, 0, 0, 0.5);
    --secondary-color: #7f59d3;
    --text-color-1: white;
    --text-color-2: aqua;
    --text-color-3: magenta;
    --text-color-4: lime;
  }

/* Custom Font */
@font-face {
    font-family: "Graffiti";
    src: url("../fonts/AttackGraffiti/AttackGraffiti-3zRBM.ttf");
  }

/* Global  */
html {
    background: url("../img/background.png"), linear-gradient(350deg, var(--primary-color),var(--primary-color-dark));
    background-attachment: fixed;
    background-size: cover;
    color: var(--text-color-1);
    font: 1rem 'Roboto', sans-serif;
    user-select: none;
  }